<section class="benefits mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="box-image text-center">
                    <img src="/assets/ben1.png" alt="ben" class="w-25">
                    <img src="/assets/ben2.png" alt="ben2" class="w-100">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <p class="first-benefit">
                    Our Benefits When You Save and Take Loan with Us
                </p>
                <p>
                    <img src="/assets/vector.png" alt="vector"><span class="second-benefit">Monitor your savings</span>
                </p>
                <p>
                    <img src="/assets/vector.png" alt="vector" class="mr-2">5% Interest at each transactions made exceeds<span class="third-benefit">5000</span>
                </p>
                <p>
                    <img src="/assets/vector.png" alt="vector" class="mr-2"><span class="fourth-benefit mr-2">9,000,000</span>Loan gurantee trusted
                </p>
                <button class="button-started">Get Started</button>
            </div>
        </div>
    </div>
</section>