<section class="first-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                <div class="paragraph">
                    <p class="loan-para">Personal loan</p>
                    <p class="loan-para2">Business loan</p>
                </div>
                <div class="box-loan">
                    <p>Select Loan Amount</p>
                    <div class="box-line">
                        <img src="/assets/line.png" alt="line">
                        <div class="box-price">
                            <p>
                                200,000
                            </p>
                            <p>
                                800,000
                            </p>
                        </div>
                    </div>
                    <p>Select Loan Duration</p>
                    <div class="box-line mb-5">
                        <img src="/assets/line.png" alt="line">
                        <div class="box-price">
                            <p>
                                1months
                            </p>
                            <p>
                                24months
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="loan-estimate">
                        <p>
                            Estimated payment<br><span>500,000/year</span>
                        </p>
                        <button class="button-apply">Apply Now</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 extend">
                <div class="loan-plan mb-5">
                    <p>
                        You can start with a plan of  loan that suits  your interest
                    </p>
                    <p>
                        <img src="/assets/vector.png" alt="" class="mr-3"> Premium Loan
                    </p>
                    <p>
                        <img src="/assets/vector.png" alt="" class="mr-3"> Standard Loan
                    </p>
                    <p>
                        <img src="/assets/vector.png" alt="" class="mr-3"> Medium Loan
                    </p>
                </div>
                <button class="button-apply">Apply Now</button>
                <button class="button-learn">Learn More</button>
            </div>
            <div class="loan-image">
                <img src="/assets/loanimg.png" alt="image">
            </div>
        </div>
    </div>
    
</section>

<section>
    
</section>
