<div class="container">
    <div class="row mb-5">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h2 class="hero-text mt-5">
                Simple <span class="hero-span">Smart Way</span> 
                <br>Apply For <span class="hero-span">Loan</span> 
                <br>Save Money
            </h2>
    
            <p class="hero-para">
                easy life spending all money  one place for<br> 
                a better life savings and also get a loan       
            </p>
    
            <button class="button-started">Get Started</button>
            <button class="button-apply">Apply Now</button>
        </div>
    
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img src="/assets/hero.png" alt="hero" class="w-100">
        </div>
    </div>
    <section>
        <p class="features">We have alots of features<br> for you</p>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 steve">
                <div class="box-image">
                    <center>
                      <img src="/assets/pi.png" alt="pi">
                    </center>
                    <p class="box-text text-center mt-3">
                        Apply now
                    </p>
                    <p class="text mt-3">
                        For your personal loan  etc you can apply<br>
                        for any kind of loan and trust to get  yeaars<br>
                        gurantee has you suits your choice
                    </p>
                    <center>
                       <button class="button-apply mt-3">Apply Now</button>
                    </center>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col steve">
                <div class="box-image2">
                    <center>
                      <img src="/assets/p2.png" alt="p2" class="save-image">
                    </center>
                    <p class="box-text2 text-center mt-3">
                        Save Now
                    </p>
                    <p class="text2 mt-3">
                        We can help monitor your savings<br> 
                        to avoid excess expenditure and help<br>
                        keep your money safe.Just save with us
                    </p>
                    <center>
                       <button class="save mt-3">Save Now</button>
                    </center>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 steve">
                <div class="box-image">
                    <center>
                      <img src="/assets/p3.png" alt="pi">
                    </center>
                    <p class="box-text text-center mt-3">
                        Success
                    </p>
                    <p class="text mt-3">
                        100% success with money and<br> application for 
                        the loan.Now make <br>that transfer now . 
                    </p>
                    <center>
                       <button class="button-apply mt-3">Get Started</button>
                    </center>
                </div>
            </div>
        </div>
    </section>
</div>


